<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>All users</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>

<body>
<!--top-->
<div class="container-fluid">
    <div class="row bg-dark text-light">
        <div class="col-md-4" id="top_panel"></div>
        <div class="col-md-8" align="right">
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-dark text-muted">Logout</button>
            </form>
        </div>
    </div>
    <br>
<!--    left-->
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#user">User</a>
                </li>
            </ul>
        </div>
<!--        center-->
        <div class="col-md-10">
            <div class="tab-content">
                <div id="admin" class="container-fluid tab-pane active">
                    <div class="container-fluid">
                        <h1>Admin panel</h1>
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#Table">Users table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#newUser">New user</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div id="Table" class="container-fluid tab-pane active">
                            <div class="card">
                                <div class="card-header">All users</div>
                                <div class="card-body">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Age</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody class="table table-striped">
                                        <tr th:each="user : ${users}">
                                            <td th:text="${user.getId()}"></td>
                                            <td th:text="${user.getUsername()}"></td>
                                            <td th:text="${user.getLastname()}"></td>
                                            <td th:text="${user.getAge()}"></td>
                                            <td th:text="${user.getEmail()}"></td>
                                            <td th:text="${user.getRoles()}"></td>
                                            <td>
                                                <!-- Button to Open the Modal -->
                                                <button type="button"  class="btn btn-info" data-toggle="modal" data-target="#editModal" th:attr="data-target='#editModal' + ${user.getId()}">
                                                    Edit
                                                </button>
                                                <!-- The Modal -->
                                                <div class="modal" th:id="editModal + ${user.getId()}">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <!-- Modal Header -->
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Edit user</h4>
                                                                <button type="button" class="close" data-dismiss="modal">×</button>
                                                            </div>
                                                            <!-- Modal body -->
                                                            <div class="modal-body">
                                                                <form th:id="edit + ${user.getId()}" th:method="PATCH" th:action="@{/{id}(id=${user.getId()})}" th:object="${user}">
                                                                    <div class="form-group" align="center">
                                                                        <label for="id1"><h6>ID</h6></label><br>
                                                                        <input disabled type="text"  id="id1" name="id" th:value="*{id}">
                                                                    </div>
                                                                    <div class="form-group" align="center">
                                                                        <label for="fn1"><h6>First name</h6></label><br>
                                                                        <input required type="text"  id="fn1" name="username" th:value="*{username}">
                                                                    </div>
                                                                    <div class="form-group" align="center">
                                                                        <label for="ln1"><h6>Last name</h6></label><br>
                                                                        <input required type="text"  id="ln1" name="lastname" th:value="*{lastname}">
                                                                    </div>
                                                                    <div class="form-group" align="center">
                                                                        <label for="age1"><h6>Age</h6></label><br>
                                                                        <input required type="number" id="age1" name="age" th:value="*{age}">
                                                                    </div>
                                                                    <div class="form-group" align="center">
                                                                        <label for="email1"><h6>Email</h6></label><br>
                                                                        <input required type="email" id="email1" name="email" th:value="*{email}">
                                                                    </div>
                                                                    <div class="form-group" align="center">
                                                                        <label for="pwd1"><h6>Password</h6></label><br>
                                                                        <input required type="password" id="pwd1" name="password" th:value="*{password}">
                                                                    </div>
                                                                    <div class="form-group" align="center">
                                                                        <label for="sel1"><h6>Role</h6></label><br>
                                                                        <select required type="text" multiple id="sel1" name="roles">
                                                                            <option th:each="role : ${roles}"
                                                                                    th:value="${role.getId()}"
                                                                                    th:text="${role.getNameRole().substring(5)}">
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-primary" th:attr="form='edit' + ${user.getId()}">Edit</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <!-- Button to Open the Modal -->
                                                <button type="button"
                                                        class="btn btn-danger"
                                                        data-toggle="modal"
                                                        data-target="#deleteModal"
                                                        th:attr="data-target='#deleteModal' + ${user.getId()}">
                                                    Delete
                                                </button>
                                                <!-- The Modal -->
                                                <div class="modal" th:id="deleteModal + ${user.getId()}">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <!-- Modal Header -->
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Delete user</h4>
                                                                <button type="button" class="close" data-dismiss="modal">×</button>
                                                            </div>
                                                            <!-- Modal body -->
                                                            <div class="modal-body">
                                                                <form th:id="delete + ${user.getId()}" th:method="DELETE" th:action="@{/{id}(id=${user.getId()})}" th:object="${user}">
                                                                    <div class="form-group" align="center">
                                                                        <label for="id"><h6>ID</h6></label><br>
                                                                        <input disabled type="text"  id="id" name="id" th:value="*{id}">
                                                                    </div>
                                                                    <div class="form-group" align="center">
                                                                        <label for="fn2"><h6>First name</h6></label><br>
                                                                        <input disabled type="text"  id="fn2" name="username" th:value="*{username}">
                                                                    </div>
                                                                    <div class="form-group" align="center">
                                                                        <label for="ln2"><h6>Last name</h6></label><br>
                                                                        <input disabled type="text"  id="ln2" name="lastname" th:value="*{lastname}">
                                                                    </div>
                                                                    <div class="form-group" align="center">
                                                                        <label for="age2"><h6>Age</h6></label><br>
                                                                        <input disabled type="number" id="age2" name="age" th:value="*{age}">
                                                                    </div>
                                                                    <div class="form-group" align="center">
                                                                        <label for="email2"><h6>Email</h6></label><br>
                                                                        <input disabled type="email" id="email2" name="email" th:value="*{email}">
                                                                    </div>
                                                                    <div class="form-group" align="center">
                                                                        <label for="pwd2"><h6>Password</h6></label><br>
                                                                        <input disabled type="password" id="pwd2" name="password" th:value="*{password}">
                                                                    </div>
                                                                    <div class="form-group" align="center">
                                                                        <label for="sel3"><h6>Role</h6></label><br>
                                                                        <select disabled type="text" multiple id="sel3" name="roles">
                                                                            <option th:each="role : ${roles}"
                                                                                    th:value="${role.getId()}"
                                                                                    th:text="${role.getNameRole().substring(5)}">
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-danger" th:attr="form='delete' + ${user.getId()}">Delete</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
<!--                        new user-->
                        <div id="newUser" class="container-fluid tab-pane fade">
                            <div class="card">
                                <div class="card-header">New user</div>
                                <div class="card-body">
                                    <form th:method="POST" th:action="@{/}">
                                        <div class="form-group" align="center">
                                            <label for="fn"><h6>First name</h6></label><br>
                                            <input required type="text"  id="fn" placeholder="Enter first name" name="username">
                                        </div>
                                        <div class="form-group" align="center">
                                            <label for="ln"><h6>Last name</h6></label><br>
                                            <input required type="text"  id="ln" placeholder="Enter last name" name="lastname">
                                        </div>
                                        <div class="form-group" align="center">
                                            <label for="age"><h6>Age</h6></label><br>
                                            <input required type="number" id="age" placeholder="Enter age" name="age">
                                        </div>
                                        <div class="form-group" align="center">
                                            <label for="email"><h6>Email</h6></label><br>
                                            <input required type="email" id="email" placeholder="Enter email" name="email">
                                        </div>
                                        <div class="form-group" align="center">
                                            <label for="pwd"><h6>Password</h6></label><br>
                                            <input required type="password" id="pwd" placeholder="Enter password" name="password">
                                        </div>
                                        <div class="form-group" align="center">
                                            <label for="sel2"><h6>Role</h6></label><br>
                                            <select required type="text" multiple id="sel2" name="roles">
                                                <option th:each="role : ${roles}"
                                                        th:value="${role.getId()}"
                                                        th:text="${role.getNameRole().substring(5)}">
                                                </option>
                                            </select>
                                        </div>
                                        <div align="center">
                                            <button type="submit" class="btn btn-success">Add new user</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="user" class="container-fluid tab-pane fade">
                    <h1>User information-page</h1>
                    <div class="card">
                        <div class="card-header">About user</div>
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:text="${user_1.getId()}"></td>
                                    <td th:text="${user_1.getUsername()}"></td>
                                    <td th:text="${user_1.getLastname()}"></td>
                                    <td th:text="${user_1.getAge()}"></td>
                                    <td th:text="${user_1.getEmail()}"></td>
                                    <td th:text="${user_1.getRoles()}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="/js/top_panel.js"></script>

</body>
</html>