<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row bg-dark text-light">
            <div class="col-md-4">
                <table>
                    <tr>
                        <th><h3 th:text="${user.getEmail()}"></h3></th>
                        <th><h3>with roles:</h3></th>
                        <th><h3 th:text="${user.getRoles()}"></h3></th>
                    </tr>
                </table>
            </div>
            <div class="col-md-8" align="right">
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-dark text-muted">Logout</button>
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#user">User</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10">
                <div class="tab-content">
                    <div id="user" class="container tab-pane active">
                        <h1>User information-page</h1>
                        <div class="card">
                            <div class="card-header">About user</div>
                            <div class="card-body">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td th:text="${user.getId()}"></td>
                                        <td th:text="${user.getUsername()}"></td>
                                        <td th:text="${user.getLastname()}"></td>
                                        <td th:text="${user.getAge()}"></td>
                                        <td th:text="${user.getEmail()}"></td>
                                        <td th:text="${user.getRoles()}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>