<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/{id}(id=${user.getId()})}" th:object="${user}">
    <lable for="name">Name</lable>
    <input type="text" th:field="*{username}" id="name"/>
    <br/>
    <br/>
    <lable for="password">Password</lable>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <input type="submit" value="Update user"/>

</form>

</body>
</html>